In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
# 1. 다운로드한 CSV 파일을 읽어 DataFrame pop_df로 저장하고, 처음 5행을 출력하시오.
pop_df = pd.read_csv('world_population.csv')
pop_df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [43]:
# 2. 데이터셋의 정보(info() 이용)와 요약통계(describe() 이용) 결과를 출력하시오.
pop_df.info()
pop_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,234.000000,234.000000,234.000000
mean,117.500000,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
std,67.694165,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977
min,1.000000,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,7.330000e+02,7.520000e+02,1.000000e+00,0.026100,0.912000,0.000000
25%,59.250000,4.197385e+05,4.152845e+05,4.046760e+05,3.931490e+05,3.272420e+05,2.641158e+05,2.296142e+05,1.559970e+05,2.650000e+03,38.417875,1.001775,0.010000
50%,117.500000,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
75%,175.750000,2.247650e+07,2.144798e+07,1.973085e+07,1.915957e+07,1.576230e+07,1.186923e+07,9.826054e+06,8.817329e+06,4.304258e+05,238.933250,1.016950,0.280000
max,234.000000,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,9.823725e+08,8.225344e+08,1.709824e+07,23172.266700,1.069100,17.880000

In [44]:
# 3. 결측값이 있는 열(column)과, 각 결측값 개수를 출력하시오.
print(pop_df.isna().sum())
print(pop_df.columns[pop_df.isna().any(axis=0)])

Rank                           0
CCA3                           0
Country/Territory              0
Capital                        0
Continent                      0
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64
Index([], dtype='object')

In [45]:
# 4. 각 열에 대한 자료형(dtypes)을 확인하시오.
pop_df.dtypes

Rank                             int64
CCA3                            object
Country/Territory               object
Capital                         object
Continent                       object
2022 Population                  int64
2020 Population                  int64
2015 Population                  int64
2010 Population                  int64
2000 Population                  int64
1990 Population                  int64
1980 Population                  int64
1970 Population                  int64
Area (km²)                       int64
Density (per km²)              float64
Growth Rate                    float64
World Population Percentage    float64
dtype: object

In [46]:
# 5. 대륙별(Continent) 국가의 개수를 구하시오.
pop_df["Continent"].value_counts()

Continent
Africa           57
Asia             50
Europe           50
North America    40
Oceania          23
South America    14
Name: count, dtype: int64

In [47]:
# 6. 국가 이름을 기준으로 알파벳 오름차순으로 정렬하시오.
pop_df.sort_values(by="Country/Territory")

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [48]:
# 7. 2022년 인구(2022 Population)를 기준으로 상위 10개국을 출력하시오.
pop_df.sort_values(by="2022 Population", ascending=False).head(10)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
131,10,MEX,Mexico,Mexico City,North America,127504125,125998302,120149897,112532401,97873442,81720428,67705186,50289306,1964375,64.9082,1.0063,1.60

In [49]:
# 8. 인구 증가율(Growth Rate)이 1% 이상인 국가를 출력하시오.
pop_df[pop_df["Growth Rate"] >= 1]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
5,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
6,224,AIA,Anguilla,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,16,VNM,Vietnam,Hanoi,Asia,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212,296.4472,1.0074,1.23
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [50]:
# 9. 인구 밀도(Density (per km2))가 1000 이상인 국가를 출력하시오.
pop_df[pop_df["Density (per km²)"] >= 1000]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
15,154,BHR,Bahrain,Manama,Asia,1472233,1477469,1362142,1213645,711442,517418,362595,222555,765,1924.4876,1.0061,0.02
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
22,206,BMU,Bermuda,Hamilton,North America,64184,64031,63144,63447,61371,57470,53565,52019,54,1188.5926,1.0000,0.00
76,219,GIB,Gibraltar,Gibraltar,Europe,32649,32709,32520,31262,27741,27317,28734,26685,6,5441.5000,0.9994,0.00
89,104,HKG,Hong Kong,Hong Kong,Asia,7488865,7500958,7399838,7132438,6731195,5838574,4978544,3955072,1104,6783.3922,0.9992,0.09
119,167,MAC,Macau,Concelho de Macau,Asia,695168,676283,615239,557297,431896,350227,245332,247284,30,23172.2667,1.0125,0.01
123,174,MDV,Maldives,Malé,Asia,523787,514438,435582,361575,282507,224957,164887,123243,300,1745.9567,1.0045,0.01
125,173,MLT,Malta,Valletta,Europe,533286,515357,456579,418755,399212,365392,333587,315414,316,1687.6139,1.0124,0.01
134,217,MCO,Monaco,Monaco,Europe,36469,36922,36760,33178,32465,30329,27076,24270,2,18234.5000,0.9941,0.00
187,113,SGP,Singapore,Singapore,Asia,5975689,5909869,5650018,5163590,4053602,3022209,2400729,2061831,710,8416.4634,1.0058,0.07
188,214,SXM,Sint Maarten,Philipsburg,North America,44175,43621,40205,33034,30489,27845,12243,6260,34,1299.2647,1.0030,0.00

In [51]:
# 10. 면적이 1,000,000km2 이상이고 인구 1악 이상인 나라의 이름과 면적, 인구를 출력하시오.
cond = (pop_df["Area (km²)"] >= 1_000_000) & (pop_df["2022 Population"] >= 100_000_000)
pop_df.loc[cond, ["Country/Territory", "Area (km²)", "2022 Population"]]

    Country/Territory  Area (km²)  2022 Population
27             Brazil     8515767        215313498
41              China     9706961       1425887337
57              Egypt     1002450        110990103
63           Ethiopia     1104300        123379924
92              India     3287590       1417173173
93          Indonesia     1904569        275501339
131            Mexico     1964375        127504125
171            Russia    17098242        144713314
221     United States     9372610        338289857

In [52]:
# 11. ‘Asia’ 대륙 국가들의 평균 인구를 구하시오.
asia_mean_pop = pop_df.loc[pop_df["Continent"] == "Asia", "2022 Population"].mean()
print(asia_mean_pop)

94427665.48

In [53]:
# 12. 2022년 인구에서 2021년 인구를 뺀 “Population Change”라는 이름의 새로운 열을 만드시오.
pop_df["Population Change"] = pop_df["2022 Population"] - pop_df["2020 Population"]
pop_df["Population Change"]

0      2156541
1       -24528
2      1451559
3        -1916
4         2124
        ...
229        -83
230      19938
231    1412568
232    1089960
233     650871
Name: Population Change, Length: 234, dtype: int64

In [54]:
# 13. 위에서 생성한 열을 기준으로 인구 증가량이 가장 많은 상위 5개국을 출력하시오.
pop_df.sort_values(by="Population Change", ascending=False).head(5)[["Country/Territory", "Population Change"]]

    Country/Territory  Population Change
92              India           20786046
149           Nigeria           10213807
156          Pakistan            8628121
63           Ethiopia            6189013
55           DR Congo            6157048

In [55]:
# 14. 대륙별 평균 인구 증가율을 구하시오.
pop_df.groupby("Continent")["Growth Rate"].mean()

Continent
Africa           1.021244
Asia             1.009384
Europe           1.002256
North America    1.004175
Oceania          1.007383
South America    1.007957
Name: Growth Rate, dtype: float64

In [56]:
# 15. 대륙별 전체인구(2022년 Population) 합계를 구하고 내림차순으로 출력하시오.
continent_pop_sum = pop_df.groupby("Continent")["2022 Population"].sum().sort_values(ascending=False)
continent_pop_sum

Continent
Asia             4721383274
Africa           1426730932
Europe            743147538
North America     600296136
South America     436816608
Oceania            45038554
Name: 2022 Population, dtype: int64

In [57]:
# 16. 인구 밀도가 가장 높은 10개국을 출력하시오.
pop_df.sort_values(by="Density (per km²)", ascending=False).head(10)[["Country/Territory", "Density (per km²)"]]

    Country/Territory  Density (per km²)
119             Macau         23172.2667
134            Monaco         18234.5000
187         Singapore          8416.4634
89          Hong Kong          6783.3922
76          Gibraltar          5441.5000
15            Bahrain          1924.4876
123          Maldives          1745.9567
125             Malta          1687.6139
188      Sint Maarten          1299.2647
22            Bermuda          1188.5926

In [58]:
# 17. 인구 대비 면적비율(=면적/인구)이 가장 작은 5개국을 출력하시오.
pop_df["Area_per_Pop"] = pop_df["Area (km²)"] / pop_df["2022 Population"]

pop_df.sort_values(by="Area_per_Pop").head(5)[["Country/Territory", "Area (km²)", "2022 Population", "Area_per_Pop"]]

    Country/Territory  Area (km²)  2022 Population  Area_per_Pop
119             Macau          30           695168      0.000043
134            Monaco           2            36469      0.000055
187         Singapore         710          5975689      0.000119
89          Hong Kong        1104          7488865      0.000147
76          Gibraltar           6            32649      0.000184

In [59]:
# 18. 대륙명을 약어로 바꾸어 pop1_df로 저장하시오. 예: Asia  AS, Europe  EU, Africa  AF 등
cont_map = {"Asia": "AS", "Europe": "EU", "Africa": "AF", "North America": "NA", "South America": "SA", "Oceania": "OC", "Antarctica": "AN"}
pop1_df = pop_df.copy()
pop1_df["Continent"] = pop1_df["Continent"].replace(cont_map)
pop1_df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population Change,Area_per_Pop
0,36,AFG,Afghanistan,Kabul,AS,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,2156541,0.015858
1,138,ALB,Albania,Tirana,EU,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,-24528,0.010114
2,34,DZA,Algeria,Algiers,AF,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,1451559,0.053042
3,213,ASM,American Samoa,Pago Pago,OC,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00,-1916,0.004495
4,203,AND,Andorra,Andorra la Vella,EU,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00,2124,0.005863

In [60]:
# 19. 2022년 인구에 대한 기술 통계(describe())를 구하시오.
pop_df["2022 Population"].describe()

count    2.340000e+02
mean     3.407441e+07
std      1.367664e+08
min      5.100000e+02
25%      4.197385e+05
50%      5.559944e+06
75%      2.247650e+07
max      1.425887e+09
Name: 2022 Population, dtype: float64

In [61]:
# 20. 인구의 25%, 50%, 75% 분위값을 구하시오.
pop_df["2022 Population"].quantile([0.25, 0.5, 0.75])

0.25      419738.50
0.50     5559944.50
0.75    22476504.75
Name: 2022 Population, dtype: float64

In [62]:
# 21. 인구(2022 Population)와 면적(Area (lkm2)), 인구 밀도(Density (km2))간의 상관 계수를 구하시오.
pop_df[["2022 Population", "Area (km²)", "Density (per km²)"]].corr()

                   2022 Population  Area (km²)  Density (per km²)
2022 Population           1.000000    0.453411          -0.027618
Area (km²)                0.453411    1.000000          -0.063128
Density (per km²)        -0.027618   -0.063128           1.000000

In [64]:
# 22. 다음의 링크를 통해 2022년 전세계 국가별 GDP 데이터 파일을 다운로드하고 읽어 들여 dgp_df DataFrame을 만드시오.
dgp_df = pd.read_csv('GDP.csv')
dgp_df.head()

,Country,"GDP(nominal,2022)",GDP(abrrev.),GDP_growth,population,GDP_per_capita,Share of world GDP
0,United States,"$25,462,700,000,000",$25.463 trillion,2.06%,"341,534,046","$74,554",25.32%
1,China,"$17,963,200,000,000",$17.963 trillion,2.99%,"1,425,179,569","$12,604",17.86%
2,Japan,"$4,231,140,000,000",$4.231 trillion,1.03%,"124,997,578","$33,850",4.21%
3,Germany,"$4,072,190,000,000",$4.072 trillion,1.79%,"84,086,227","$48,429",4.05%
4,India,"$3,385,090,000,000",$3.385 trillion,7.00%,"1,425,423,212","$2,375",3.37%

In [65]:
# 23. 위의 dgp_df과 pop_df를 국가이름(Country)을 기준으로 병합한 popdgp_df를 생성한 후, 처음 5행을 출력하시오.
popdgp_df = pd.merge(pop_df, dgp_df, left_on="Country/Territory", right_on="Country", how="inner")
popdgp_df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,...,World Population Percentage,Population Change,Area_per_Pop,Country,"GDP(nominal,2022)",GDP(abrrev.),GDP_growth,population,GDP_per_capita,Share of world GDP
0,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,...,0.04,-24528,0.010114,Albania,"$18,882,095,518",$18.88 billion,4.84%,"2,827,608","$6,678",0.02%
1,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,...,0.56,1451559,0.053042,Algeria,"$191,913,000,000",$192 billion,3.10%,"45,477,389","$4,220",0.19%
2,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,...,0.00,2124,0.005863,Andorra,"$3,352,032,737",$3.35 billion,8.81%,"79,705","$42,055",0.00%
3,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,...,0.45,2160502,0.035030,Angola,"$106,714,000,000",$107 billion,3.05%,"35,635,029","$2,995",0.11%
4,201,ATG,Antigua and Barbuda,Saint John’s,North America,93763,92664,89941,85695,75055,...,0.00,1099,0.004714,Antigua and Barbuda,"$1,757,603,704",$1.76 billion,8.46%,"92,840","$18,932",0.00%

In [69]:
# 24. GDP 상위 10개국의 GDP 대비 인구비율(GDP_per_capita)을 출력하시오.
popdgp_df["GDP_2022"] = (popdgp_df["GDP(nominal,2022)"].str.replace('[$,]', '', regex=True).astype(float))
popdgp_df["GDP_per_capita"] = popdgp_df["GDP_2022"] / popdgp_df["2022 Population"]
gdp_top10 = popdgp_df.sort_values(by="GDP_2022", ascending=False).head(10)
gdp_top10[["Country/Territory", "GDP_per_capita"]]

    Country/Territory  GDP_per_capita
161     United States    75268.883985
32              China    12597.909760
76              Japan    34135.395264
55            Germany    48844.880276
68              India     2388.621281
160    United Kingdom    45485.385816
51             France    43061.352358
127            Russia    15481.782139
28             Canada    55646.273565
74              Italy    34053.455607